 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
A {
	TEXT-DECORATION: none
}
BODY {
	BACKGROUND: url(images/background.gif) #fff repeat-x; FONT: 62.5% "Lucida Sans Unicode",Verdana,sans-serif; COLOR: #444; PADDING-TOP: 40px
}
P {
	FONT-SIZE: 1.2em; PADDING-BOTTOM: 1.2em
}
CODE {
	FONT-SIZE: 1.2em; PADDING-BOTTOM: 1.2em
}
UL {
	FONT-SIZE: 1.2em; PADDING-BOTTOM: 1.2em
}
LI {
	LIST-STYLE-TYPE: none
}
H1 {
	FONT-SIZE: 1.4em
}
CODE {
	BORDER-RIGHT: #f0f0f0 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #f0f0f0 1px solid; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(images/bgcode.gif); MARGIN-BOTTOM: 12px; PADDING-BOTTOM: 8px; FONT: 1.1em "Lucida Sans Unicode",serif; BORDER-LEFT: #f06 6px solid; COLOR: #444; PADDING-TOP: 8px; BORDER-BOTTOM: #f0f0f0 1px solid
}
note {
	BORDER-RIGHT: #f0f0f0 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #f0f0f0 1px solid; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(images/bgnote.gif); MARGIN-BOTTOM: 12px; PADDING-BOTTOM: 8px; FONT: 1.1em "Lucida Sans Unicode",serif; BORDER-LEFT: #f06 6px solid; COLOR: #444; PADDING-TOP: 8px; BORDER-BOTTOM: #f0f0f0 1px solid; WHITE-SPACE: pre
}
BLOCKQUOTE {
	PADDING-RIGHT: 12px; BORDER-TOP: #eed 1px solid; DISPLAY: block; PADDING-LEFT: 12px; BACKGROUND: #fbfcf5; MARGIN-BOTTOM: 12px; PADDING-BOTTOM: 12px; FONT: 0.9em Verdana,sans-serif; COLOR: #444; PADDING-TOP: 12px; BORDER-BOTTOM: #eed 1px solid
}
H1 {
	FONT: 1.2em "Trebuchet MS",sans-serif; COLOR: #f06
}
H2 {
	FONT: 1.2em "Trebuchet MS",sans-serif; COLOR: #f06
}
H3 {
	FONT: 1.2em "Trebuchet MS",sans-serif; COLOR: #f06
}
H4 {
	FONT: 1.2em "Trebuchet MS",sans-serif; COLOR: #f06
}
.clearer {
	CLEAR: both
}
.header {
	BACKGROUND: url(images/stripes.gif) no-repeat; MARGIN-BOTTOM: 0px; BORDER-BOTTOM: #eee 1px solid; HEIGHT: 160px
}
.header H1 {
	MARGIN-TOP: 40px; PADDING-LEFT: 30px; FONT: 800 2.2em Verdana, Arial, Helvetica, sans-serif; COLOR: #f06; TEXT-ALIGN: left
}
.header H1 A {
	MARGIN-TOP: 40px; PADDING-LEFT: 30px; FONT: 800 2.2em Verdana, Arial, Helvetica, sans-serif; COLOR: #f06; TEXT-ALIGN: left
}
.header H2 {
	BORDER-TOP: #eee 1px solid; COLOR: #666; TEXT-ALIGN: right
}
.header H2 SPAN {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; BACKGROUND: #222; PADDING-BOTTOM: 0px; COLOR: #eee; PADDING-TOP: 0px
}
.breadcrumb {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 20px; MARGIN-LEFT: 0%; BORDER-BOTTOM: #eee 1px solid
}
.breadcrumb P {
	FONT-SIZE: 1.3em; PADDING-BOTTOM: 0em
}
.breadcrumb A {
	COLOR: #f06; TEXT-DECORATION: none
}
.breadcrumb A:hover {
	COLOR: #444; BORDER-BOTTOM: #f06 1px solid
}
.left {
	MARGIN: 0px 26% 20px 3%
}
.content .descr {
	FONT-SIZE: 1.2em; MARGIN-BOTTOM: 6px; COLOR: #06f
}
.content LI {
	LIST-STYLE-IMAGE: url(images/li.gif); MARGIN-LEFT: 18px
}
.content H1 {
	FONT-SIZE: 2.4em; MARGIN-BOTTOM: 4px
}
.content H2 {
	FONT-SIZE: 1.9em; MARGIN-BOTTOM: 2px
}
.content A {
	COLOR: #f06; TEXT-DECORATION: none
}
.footer A {
	COLOR: #f06; TEXT-DECORATION: none
}
.content A:hover {
	COLOR: #444; BORDER-BOTTOM: #f06 1px solid
}
.footer A:hover {
	COLOR: #444; BORDER-BOTTOM: #f06 1px solid
}
.content H1 A:hover {
	COLOR: #f06; BORDER-BOTTOM: #f06 1px solid
}
.nav {
	MARGIN-BOTTOM: 20px; POSITION: absolute; TOP: 40px
}
.right {
	MARGIN-BOTTOM: 20px; POSITION: absolute; TOP: 40px
}
.nav {
	RIGHT: 23%; WIDTH: 17%; TEXT-ALIGN: center
}
.nav .logo {
	BORDER-TOP: #eee 1px solid; BACKGROUND: url(images/logo.gif) no-repeat center top; BORDER-BOTTOM: #eee 1px solid; HEIGHT: 159px
}
.nav H1 {
	MARGIN: 12px 0px; COLOR: #f60
}
.nav LI {
	BORDER-BOTTOM: #eee 1px solid
}
.nav LI A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; FONT: 1.4em serif; COLOR: #888; PADDING-TOP: 8px
}
.nav LI A:hover {
	BACKGROUND: #fafafa; COLOR: #f06
}
.right {
	RIGHT: 3%; BACKGROUND: #222; WIDTH: 21%
}
.subnav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; PADDING-BOTTOM: 0px; PADDING-TOP: 12px
}
.subnav H1 {
	FONT-SIZE: 1.4em; MARGIN-LEFT: 8px; COLOR: #f06; HEIGHT: 20px
}
.subnav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 16px; PADDING-TOP: 0px
}
.subnav LI {
	MARGIN: 0px; BORDER-BOTTOM: #333 1px solid; LIST-STYLE-TYPE: none
}
.subnav LI A {
	PADDING-RIGHT: 6px; DISPLAY: block; PADDING-LEFT: 8px; FONT-SIZE: 0.9em; PADDING-BOTTOM: 3px; COLOR: #777; PADDING-TOP: 3px; TEXT-DECORATION: none
}
.subnav LI A:hover {
	COLOR: #ddd
}
.roundtl {
	BACKGROUND: url(images/round.gif); WIDTH: 14px; HEIGHT: 16px
}
.roundtr {
	BACKGROUND: url(images/round.gif); WIDTH: 14px; HEIGHT: 16px
}
.roundbl {
	BACKGROUND: url(images/round.gif); WIDTH: 14px; HEIGHT: 16px
}
.roundbr {
	BACKGROUND: url(images/round.gif); WIDTH: 14px; HEIGHT: 16px
}
.roundtl {
	FLOAT: left
}
.roundbl {
	FLOAT: left
}
.roundtr {
	FLOAT: right
}
.roundbr {
	FLOAT: right
}
.roundtr {
	BACKGROUND-POSITION: right top
}
.roundbr {
	BACKGROUND-POSITION: right bottom
}
.roundbl {
	BACKGROUND-POSITION: left bottom
}
.footer {
	PADDING-RIGHT: 6px; BORDER-TOP: #eee 2px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 8px; MARGIN: 0px 3%; FONT: 1em Verdana,sans-serif; COLOR: #666; PADDING-TOP: 8px
}
.leftfloat {
	LEFT: 7px; FLOAT: left; MARGIN: 0px; WIDTH: 220px
}
