/***** FOR THE TABLE-CLASS ************************************************/

td, select, input {
	font-family:Arial;
	font-size:8pt;
}

.head,.head:hover,.head:visited,.head:link {
	font-family:Tahoma;
	font-size:8pt;
	color:#ffffff;
	background-color:#BB0606;
	font-weight:bold;
	text-decoration:none;
}
.headline {
	color:#BB0606;
	font-family:tahoma;
	background-color:#E1E1E1;
	font-size:16px;
	font-weight:bold;
	padding-left:10px;
	letter-spacing:1px;
} 
.headlineBG {
	background-color:#E1E1E1;
}
.currentSort {
	color:#D4D0C8;
	font-weight:bold;
	font-size:7pt;
	letter-spacing:-1px;
	font-family:arial;
}
.pagingLink,.pagingLink:visited {
	color:#3E3E3E;
	text-decoration:none;
}
.pagingCurrentPage,.pagingCurrentPage:visited,.pagingCurrentPage:link {
	color:#BB0606;
	font-weight:bold;
}
.pagingPrevNext,.pagingPrevNext:visited,.pagingPrevNext:link	{
	color:#3E3E3E;
	font-size:10pt;
	text-decoration:none;
	letter-spacing:-2px;
}
.filterBG {
	background-color:#FEE8E7;
}
.tableFooterBG {
	background-color:#E1E1E1;
}

.button {
	background-color:#F4F4F4;
	font-family:Verdana,Arial,Helvetica; 
	font-size:7pt; color:#313142; 
	border: 1px groove #B9B9B9;
	background-image:url();
	padding:0px;
}
.button_common {
	background-color:#F4F4F4;
	font-family:Verdana,Arial,Helvetica;
	font-size:7pt;
	color:#313142;
	border: 1px groove #B9B9B9;background-image:url();
	padding:0px;
}


.selectAll {
	font:7pt arial;
	font-weight:normal;
	text-decoration:underline;
}

/* LEGEND */
#drawTableLegendContainer * {
	font-size:11px;
}
#drawTableLegendContainer {
	padding:10px;
}
.legendBox {
	width:1.5em;
	height:10px;
	border:1px solid #aaa;
}
.legendHL {
	margin-bottom:4px;
}
#dtlText {
	font-size:12px;
}


/* PRINT DEFINITIONS */
@media print {

	div.tableContainer {overflow: visible;	}
	thead	{display: table-header-group;	}
	table>tbody	{overflow: visible; }
	
	body,td {
		background-color:none;
	}
	a, a:visited, a:active, .navklein, .navklein:active,.navklein:visited, body, td { 
		font-family:"Times New Roman";
		color:#000000;
		font-size: 10pt;  
	}
	.head { 
		background-color:#CECECE;
		font-family:"Times New Roman";
		color:#000000;
	}
	.noprint {
		display: none;
	}
	.headlineBG {
		background-color:#ffffff;
	}
	.headline { 
		background-color:#FFFFFF;
		font-family:"Times New Roman";
		font-size: 11pt;color:#000000;
	}
	.filterBG {
		background-color:#ffffff;
	}
	.dotting {
		border-top:0px solid #000000;
	}

}